.sign__title {
  font: 900 24px/29px "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
}

@media (max-width: 640px) {
  .sign__title {
    font: 900 20px/24px "Inter", Arial, sans-serif;
  }
}